body{
font-family:Arial;
background:#f5f5f5;
margin:0;
padding:0;
}


header{
background:#0a95f1;
color:white;
padding: 10px;
text-align:center;
}


h2{
    margin: 20px;
}


#texto{
    margin: 20px;
}


.card{
background:white;
padding:20px;
margin:20px;
border-radius:10px;
box-shadow:0 0 10px gray;
}


img{
   width: 200px;
   height: 200px;
   border-radius: 12px; 
}


.contraste{
    background-color: black;
    color: white;
}


.acessibilidade{
    text-align: center;
    padding: 15px;
    background: #ddd;
}


.acessibilidade button{
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}


.contraste header{
    background-color: black;
    color: yellow;
}


.contraste .card{
    background-color: #222;
    color: white;
}


.contraste button{
    background-color: yellow;
    color: black;
}


.contraste footer{
    background-color: #000000;
    padding: 15px 25px;
    color: #ffee00;
    text-align: center;
    }


footer {
background-color: #04b3f8;
padding: 15px 25px;
color: #ffffffee;
text-align: center; 
}